.home {
  margin-top: 150px;
  h1,
  p {
    text-align: center;
    margin: 0;
  }
  a {
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
    border: none;
    background-color: #188b6e;
    color: white;
    box-shadow: 0 0 0 #909090;
    margin: 20px auto;
    display: block;
    height: 40px;
    width: 100px;
    font-family: system-ui;
    font-size: 15px;
    text-shadow: 0px 0px 1.5px white;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: #349e84;
    }
  }
  img {
    width: 60%;
    margin: 75px auto 0 auto;
    display: block;
  }
}
